<app-hero-banner />
<main class="container mx-auto p-8">
  <section class="mb-12">
    <h2
      class="text-3xl md:text-4xl font-bold text-center mb-6 text-white leading-tight"
    >
      Welcome to My Digital Blueprint
    </h2>
    <p class="text-lg text-gray-300 text-center max-w-3xl mx-auto mb-8">
      Explore my work in full-stack development and game design. This space is a
      testament to problem-solving through code and creativity.
    </p>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <div
        class="bg-gray-700 p-6 rounded-lg shadow-xl border border-blue-900 transition-all duration-300 hover:scale-[1.02] hover:shadow-2xl"
      >
        <h3 class="text-xl font-semibold text-blue-300 mb-2 flex items-center">
          <ng-icon name="heroCodeBracket" class="mr-2 text-blue-400"></ng-icon>
          Full-Stack Projects
        </h3>
        <p class="text-gray-400">
          Dive into my web applications, showcasing my expertise in front-end
          and back-end technologies.
        </p>
      </div>
      <div
        class="bg-gray-700 p-6 rounded-lg shadow-xl border border-blue-900 transition-all duration-300 hover:scale-[1.02] hover:shadow-2xl"
      >
        <h3 class="text-xl font-semibold text-blue-300 mb-2 flex items-center">
          <ng-icon name="heroCube" class="mr-2 text-blue-400"></ng-icon> Game
          Development
        </h3>
        <p class="text-gray-400">
          See my passion for creating interactive experiences, from concept to
          playable prototypes.
        </p>
      </div>
      <div
        class="bg-gray-700 p-6 rounded-lg shadow-xl border border-blue-900 transition-all duration-300 hover:scale-[1.02] hover:shadow-2xl"
      >
        <h3 class="text-xl font-semibold text-blue-300 mb-2 flex items-center">
          <ng-icon name="heroRocketLaunch" class="mr-2 text-blue-400"></ng-icon>
          My Journey
        </h3>
        <p class="text-gray-400">
          Learn about my professional background, skills, and the technologies
          I'm currently exploring.
        </p>
      </div>
    </div>
  </section>
</main>
